body {
    margin: 0;
    font-family: monospace;
}
ul>li{
    float: right;
    list-style-type: none;
    padding: 16 px;
    margin: 16px;
    color: white;
}

header{
    background-color: dodgerblue;
    padding: 32px;
    color: white;
}

ul > li {
    text-decoration: none
}

.comments {
    width: 100%
}

a:link {
    color: white;
}

.login {
    width: 30%;
    align-items: left;
}

.news {
    width: 70%;
    align-items: right;
}
.row {
    display:flex;
    width: 50%;
}

.column {
    flex: 50%;
}

.thumbnail {
    width: inherit;
    height: 128px;
}

.profile-pic {
    height: inherit;
    width: 64px;
}

main {
    padding: 16px;
    align-items: center;
}

footer {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 16px;
}